.MainWrapper {
  width: 100%;
  position: relative;
  .header {
    min-width: 1560px;
    height: 200px;
    border: 10px;
    .img_tag {
      width: 100%;
      height: 70px;
      background-color: green;
    }
    .search_bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 50px;
      background-color: black;
      color: white;
      .logo {
        width: 100px;
        font-weight: bold;
        font-size: 25px;
        > form {
          display: flex;
          flex-direction: row;
        }
      }
      > input {
        width: 300px;
        height: 25px;
      }
      .rank-items {
        display: none;
        transition: opacity 1s;
      }
    }
    .menu_bar {
      width: 100%;
      height: 50px;
      background-color: khaki;
    }
  }
}
